.table {
	.header {
	  @apply grid grid-cols-[1.4fr_.4fr_.4fr_.1fr];
	  margin-bottom: 10px;
	}
  
	.header,
	.parentsWrapper .row,
	.parentsWrapper .colHeading {
	  @apply rounded w-auto whitespace-nowrap;
  
	  > div {
		@apply py-2 px-4;
  
		&:last-child {
		  @apply border-0;
		}
	  }
	}
  
	.parentsWrapper {
	  .colHeading {
		@apply bg-foreground;
		> div {
		  @apply font-semibold text-base py-3;
		}
	  }
  
	  .addRow {
		@apply py-2 px-4;
	  }
  
	  .row {
		@apply grid grid-cols-[1.4fr_.4fr_.4fr_.1fr] max-lg:flex max-lg:flex-col gap-5 font-normal relative;
		overflow-x: auto;
		overflow-y: visible;
		z-index: 1; // Установите z-index для элементов, которые должны быть поверх других
  
		&.completed {
		  > div > span > input {
			@apply italic line-through opacity-50;
		  }
		}
  
		&:hover {
		  @apply bg-foreground opacity-50;
		}
  
		> div > span {
		  .grip {
			@apply opacity-20 transition-opacity -ml-3 -mr-1;
  
			&:hover,
			&:active {
			  @apply opacity-100;
			}
		  }
		}
	  }
	}
  }
  