@tailwind base;
@tailwind components;
@tailwind utilities;


/* Светлая тема */
:root {
	--background: #f4f4f5;
	--foreground: #e4e4e7;
	--text: #000;
  }
  
  /* Тёмная тема */
  .dark {
	--background: #18181b;
	--foreground: #242427;
	--text: #fff 
  }

html {
	@apply bg-background text-text;
}

body {
	font-size: 20px;
	height: 100vh;
	max-width: 100%;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	body {
		font-size: 16px;
	}

	input, button {
		font-size: 12px;
	}

	h1 {
		@apply text-xl;
	}
	
	h2 {
		@apply text-lg;
	}
}

input,
button {
	font-size: 16px;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}
